<!DOCTYPE html>
<html lang="en">
<script src="../static/lib/w3.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="menu" w3-include-html="../static/admin-menu.html"></div>

        <div class="content">
            <p class="log-bar">You are logged as Admin</p>
            <h2>Edit mentor's data:</h2>
            <form action="edit-mentor-finished" method="post">
                <input type="hidden" name="id" value="{{ mentor.getId }}"/>
                <label>First name:&nbsp</label> <input type="text" name="first" value="{{ mentor.getFirstName }}"/><br><br>
                <label>Last name:&nbsp</label> <input type="text" name="last" value="{{ mentor.getLastName }}"/><br><br>
                <label>Phone number:&nbsp</label> <input type="text" name="phone" value="{{ mentor.getPhoneNumber }}"/><br><br>
                <label>Email:&nbsp</label> <input type="text" name="email" value="{{ mentor.getEmail }}"/><br><br>
                <label>Password:&nbsp</label> <input type="text" name="passw" value="{{ mentor.getPassword }}"/><br><br>
                <input type="submit" value="Save changes"/>
            </form>
        </div>
    </div>
    <script>
        w3.includeHTML();
    </script>

</body>
</html>