<!DOCTYPE html>
<html lang="en">
<script src="../static/lib/w3.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="menu" w3-include-html="../static/mentor/mentor-menu.html"></div>

        <div class="content">
            <p class="log-bar">You are logged as Mentor</p>
            <h2>Student's data:</h2>
            <form>
                <input type="hidden" name="student" value="{{ student.getId }}"/>

                <div class="two-columns">
                    <div class="form-labels">
                        <p>First name:</p>
                        <p>Last name:</p>
                        <p>Phone number:</p>
                        <p>Email:</p>
                        <p>Password:</p>
                        <p>Class:</p>
                    </div>

                    <div class="form-values">
                        <p>{{ student.getFirstName }}</p>
                        <p>{{ student.getLastName }}</p>
                        <p>{{ student.getPhoneNumber }}</p>
                        <p>{{ student.getEmail }}</p>
                        <p>{{ student.getPassword }}</p>
                        <p>{{ klass.getClassName }}</p>
                    </div>
                </div>
                <button type="submit" formaction="edit-student" formmethod="post">Edit</button>
                <button type="submit" formaction="remove-student" formmethod="post">Delete</button>
            </form>
            {#<p>#}
                {#Coins: {{ student.getCoins }}<br>#}
                {#Total coins: {{ student.getTotalCoins }}<br>#}
            {#<p>#}
        </div>
    </div>
    <script>
        w3.includeHTML();
    </script>

</body>
</html>